:root {
  --text-primary: #000000;
  --text-secondary: #333333;
  --text-tertiary: #999999;
  --text-invert-primary: #ffffff;
  --text-light: #ffffff;
  --text-dark: #000000;
  --text-interactive: #000000;
  --text-interactive-pressed: #333333;
  --text-interactive-disabled: #999999;
  --text-on-button-primary: #ffffff;
  --text-on-button-secondary: #ffffff;
  --text-accent-primary: #4d4d4d;
  --text-accent-secondary: #ffffff;
  --text-status-info-primary: #2b5c68;
  --text-status-warning-primary: #7d660b;
  --text-status-success-primary: #27693f;
  --text-status-error-primary: #a73030;
  --text-feedback-error-primary: #bf3636;
  --background-primary: #ffffff;
  --background-secondary: #e5e5e5;
  --background-tertiary: #cccccc;
  --background-invert-primary: #000000;
  --background-divider-primary: #b2b2b2;
  --background-light: #ffffff;
  --background-dark: #000000;
  --background-interactive-primary: #000000;
  --background-interactive-primary-pressed: #000000;
  --background-interactive-secondary: #808080;
  --background-interactive-secondary-pressed: #b2b2b2;
  --background-interactive-disabled: #b2b2b2;
  --background-accent-primary: #4d4d4d;
  --background-accent-secondary: #ffffff;
  --background-accent-tertiary: #ffffff;
  --background-status-info-primary: #ddf1f5;
  --background-status-warning-primary: #fef5d0;
  --background-status-success-primary: #e9f9ef;
  --background-status-error-primary: #fdecec;
  --icon-primary: #000000;
  --icon-secondary: #333333;
  --icon-tertiary: #999999;
  --icon-invert-primary: #000000;
  --icon-light: #ffffff;
  --icon-dark: #000000;
  --icon-interactive: #000000;
  --icon-interactive-pressed: #333333;
  --icon-interactive-disabled: #999999;
  --icon-on-button-primary: #ffffff;
  --icon-on-button-secondary: #ffffff;
  --icon-accent-primary: #4d4d4d;
  --icon-accent-secondary: #ffffff;
  --icon-status-info-primary: #2b5c68;
  --icon-status-warning-primary: #7d660b;
  --icon-status-success-primary: #27693f;
  --icon-status-error-primary: #a73030;
  --icon-feedback-error-primary: #bf3636;
  --border-primary: #000000;
  --border-secondary: #333333;
  --border-tertiary: #999999;
  --border-invert-primary: #000000;
  --border-divider-primary: #b2b2b2;
  --border-light: #ffffff;
  --border-dark: #000000;
  --border-interactive-primary: #000000;
  --border-interactive-primary-pressed: #000000;
  --border-interactive-secondary: #808080;
  --border-interactive-secondary-pressed: #b2b2b2;
  --border-interactive-disabled: #b2b2b2;
  --border-accent-primary: #4d4d4d;
  --border-accent-secondary: #ffffff;
  --border-status-info-primary: #9ad4e2;
  --border-status-warning-primary: #fce073;
  --border-status-success-primary: #a7e8bf;
  --border-status-error-primary: #f9b4b4;
  --border-feedback-error-primary: #bf3636;
}