.friendi.dark {
  --text-primary: #ffffff;
  --text-secondary: #d1d1d1;
  --text-tertiary: #5f5e5f;
  --text-invert-primary: #1b191a;
  --text-light: #ffffff;
  --text-dark: #1b191a;
  --text-interactive: #26d0d3;
  --text-interactive-pressed: #7de3e5;
  --text-interactive-disabled: #767676;
  --text-on-button-primary: #1b191a;
  --text-on-button-secondary: #1b191a;
  --text-accent-primary: #668987;
  --text-accent-secondary: #ffc819;
  --text-status-info-primary: #2b5c68;
  --text-status-warning-primary: #7d660b;
  --text-status-success-primary: #27693f;
  --text-status-error-primary: #a73030;
  --text-feedback-error-primary: #f26969;
  --background-primary: #1b191a;
  --background-secondary: #2d2a2b;
  --background-tertiary: #767676;
  --background-invert-primary: #e5e5e5;
  --background-divider-primary: #484848;
  --background-light: #ffffff;
  --background-dark: #1b191a;
  --background-interactive-primary: #26d0d3;
  --background-interactive-primary-pressed: #1ea6a9;
  --background-interactive-secondary: #d4f6f6;
  --background-interactive-secondary-pressed: #7de3e5;
  --background-interactive-disabled: #5f5e5f;
  --background-accent-primary: #668987;
  --background-accent-secondary: #ffc819;
  --background-accent-tertiary: #a8eced;
  --background-status-info-primary: #cceaf1;
  --background-status-warning-primary: #fdf0b9;
  --background-status-success-primary: #d3f3df;
  --background-status-error-primary: #fcdada;
  --icon-primary: #ffffff;
  --icon-secondary: #d1d1d1;
  --icon-tertiary: #5f5e5f;
  --icon-invert-primary: #1b191a;
  --icon-light: #ffffff;
  --icon-dark: #1b191a;
  --icon-interactive: #26d0d3;
  --icon-interactive-pressed: #7de3e5;
  --icon-interactive-disabled: #767676;
  --icon-on-button-primary: #1b191a;
  --icon-on-button-secondary: #1b191a;
  --icon-accent-primary: #668987;
  --icon-accent-secondary: #ffc819;
  --icon-status-info-primary: #2b5c68;
  --icon-status-warning-primary: #7d660b;
  --icon-status-success-primary: #27693f;
  --icon-status-error-primary: #a73030;
  --icon-feedback-error-primary: #f26969;
  --border-primary: #ffffff;
  --border-secondary: #d1d1d1;
  --border-tertiary: #5f5e5f;
  --border-invert-primary: #1b191a;
  --border-divider-primary: #484848;
  --border-light: #ffffff;
  --border-dark: #1b191a;
  --border-interactive-primary: #26d0d3;
  --border-interactive-primary-pressed: #7de3e5;
  --border-interactive-secondary: #d4f6f6;
  --border-interactive-secondary-pressed: #7de3e5;
  --border-interactive-disabled: #5f5e5f;
  --border-accent-primary: #668987;
  --border-accent-secondary: #ffd347;
  --border-status-info-primary: #9ad4e2;
  --border-status-warning-primary: #fce073;
  --border-status-success-primary: #fdeba1;
  --border-status-error-primary: #f9b4b4;
  --border-feedback-error-primary: #f26969;
}