.friendiPay {
  --text-primary: #1b191a;
  --text-secondary: #484848;
  --text-tertiary: #767676;
  --text-invert-primary: #ffffff;
  --text-light: #ffffff;
  --text-dark: #1b191a;
  --text-interactive: #188285;
  --text-interactive-pressed: #22bbbe;
  --text-interactive-disabled: #bababa;
  --text-on-button-primary: #1b191a;
  --text-on-button-secondary: #1b191a;
  --text-accent-primary: #003a37;
  --text-accent-secondary: #ffc819;
  --text-status-info-primary: #2b5c68;
  --text-status-warning-primary: #7d660b;
  --text-status-success-primary: #27693f;
  --text-status-error-primary: #a73030;
  --text-feedback-error-primary: #bf3636;
  --background-primary: #f4f4f4;
  --background-secondary: #ffffff;
  --background-tertiary: #e8e8e8;
  --background-invert-primary: #1b191a;
  --background-divider-primary: #d1d1d1;
  --background-light: #ffffff;
  --background-dark: #1b191a;
  --background-interactive-primary: #26d0d3;
  --background-interactive-primary-pressed: #1ea6a9;
  --background-interactive-secondary: #a8eced;
  --background-interactive-secondary-pressed: #26d0d3;
  --background-interactive-disabled: #e8e8e8;
  --background-accent-primary: #003a37;
  --background-accent-secondary: #ffc819;
  --background-accent-tertiary: #a8eced;
  --background-status-info-primary: #ddf1f5;
  --background-status-warning-primary: #fef5d0;
  --background-status-success-primary: #e9f9ef;
  --background-status-error-primary: #fdecec;
  --icon-primary: #1b191a;
  --icon-secondary: #484848;
  --icon-tertiary: #a3a3a3;
  --icon-invert-primary: #ffffff;
  --icon-light: #ffffff;
  --icon-dark: #1b191a;
  --icon-interactive: #188285;
  --icon-interactive-pressed: #22bbbe;
  --icon-interactive-disabled: #bababa;
  --icon-on-button-primary: #1b191a;
  --icon-on-button-secondary: #1b191a;
  --icon-accent-primary: #003a37;
  --icon-accent-secondary: #ffc819;
  --icon-status-info-primary: #2b5c68;
  --icon-status-warning-primary: #7d660b;
  --icon-status-success-primary: #27693f;
  --icon-status-error-primary: #a73030;
  --icon-feedback-error-primary: #bf3636;
  --border-primary: #1b191a;
  --border-secondary: #484848;
  --border-tertiary: #a3a3a3;
  --border-invert-primary: #bababa;
  --border-divider-primary: #d1d1d1;
  --border-light: #ffffff;
  --border-dark: #1b191a;
  --border-interactive-primary: #188285;
  --border-interactive-primary-pressed: #22bbbe;
  --border-interactive-secondary: #a8eced;
  --border-interactive-secondary-pressed: #d4f6f6;
  --border-interactive-disabled: #bababa;
  --border-accent-primary: #002e2c;
  --border-accent-secondary: #cca014;
  --border-status-info-primary: #78c6d9;
  --border-status-warning-primary: #fce073;
  --border-status-success-primary: #a7e8bf;
  --border-status-error-primary: #f9b4b4;
  --border-feedback-error-primary: #bf3636;
}