.vcr {
  --text-primary: #391d44;
  --text-secondary: #6e6d6d;
  --text-tertiary: #d1ced4;
  --text-invert-primary: #391d44;
  --text-light: #ffffff;
  --text-dark: #391d44;
  --text-interactive: #e10a0a;
  --text-interactive-pressed: #b53131;
  --text-interactive-disabled: #acacac;
  --text-on-button-primary: #ffffff;
  --text-on-button-secondary: #ffffff;
  --text-accent-primary: #6c1863;
  --text-accent-secondary: #8e43bf;
  --text-status-info-primary: #2b5c68;
  --text-status-warning-primary: #7d660b;
  --text-status-success-primary: #27693f;
  --text-status-error-primary: #a73030;
  --text-feedback-error-primary: #b53131;
  --background-primary: #ffffff;
  --background-secondary: #f8f4fb;
  --background-tertiary: #fffaf4;
  --background-invert-primary: #1d1829;
  --background-divider-primary: #d1ced4;
  --background-light: #ffffff;
  --background-dark: #1d1829;
  --background-interactive-primary: #b53131;
  --background-interactive-primary-pressed: #e10a0a;
  --background-interactive-secondary: #1d1829;
  --background-interactive-secondary-pressed: #352e40;
  --background-interactive-disabled: #e5e5e5;
  --background-accent-primary: #6c1863;
  --background-accent-secondary: #8e43bf;
  --background-accent-tertiary: #fc962d;
  --background-status-info-primary: #ddf1f5;
  --background-status-warning-primary: #fef5d0;
  --background-status-success-primary: #e9f9ef;
  --background-status-error-primary: #fdecec;
  --icon-primary: #391d44;
  --icon-secondary: #6e6d6d;
  --icon-tertiary: #d1ced4;
  --icon-invert-primary: #391d44;
  --icon-light: #ffffff;
  --icon-dark: #391d44;
  --icon-interactive: #e10a0a;
  --icon-interactive-pressed: #b53131;
  --icon-interactive-disabled: #acacac;
  --icon-on-button-primary: #ffffff;
  --icon-on-button-secondary: #ffffff;
  --icon-accent-primary: #3c1735;
  --icon-accent-secondary: #8e43bf;
  --icon-status-info-primary: #2b5c68;
  --icon-status-warning-primary: #7d660b;
  --icon-status-success-primary: #27693f;
  --icon-status-error-primary: #a73030;
  --icon-feedback-error-primary: #b53131;
  --border-primary: #391d44;
  --border-secondary: #e5e5e5;
  --border-tertiary: #e0cadf;
  --border-invert-primary: #ffffff;
  --border-divider-primary: #d1ced4;
  --border-light: #ffffff;
  --border-dark: #473455;
  --border-interactive-primary: #e10a0a;
  --border-interactive-primary-pressed: #b53131;
  --border-interactive-secondary: #391d44;
  --border-interactive-secondary-pressed: #391d44;
  --border-interactive-disabled: #e5e5e5;
  --border-accent-primary: #6c1863;
  --border-accent-secondary: #8e43bf;
  --border-status-info-primary: #9ad4e2;
  --border-status-warning-primary: #fce073;
  --border-status-success-primary: #a7e8bf;
  --border-status-error-primary: #f9b4b4;
  --border-feedback-error-primary: #b53131;
}