.virgin {
    --text-primary: #131c35;
    --text-secondary: #5a6072;
    --text-tertiary: #898d9a;
    --text-invert-primary: #ffffff;
    --text-light: #ffffff;
    --text-dark: #131c35;
    --text-interactive: #b40808;
    --text-interactive-pressed: #ca0909;
    --text-interactive-disabled: #b8bbc2;
    --text-on-button-primary: #ffffff;
    --text-on-button-secondary: #b40808;
    --text-accent-primary: #2c439d;
    --text-accent-secondary: #ffffff;
    --text-status-info-primary: #2b5c68;
    --text-status-warning-primary: #7d660b;
    --text-status-success-primary: #27693f;
    --text-status-error-primary: #a73030;
    --text-feedback-error-primary: #bf3636;
    --background-primary: #ffffff;
    --background-secondary: #ffffff;
    --background-tertiary: #e6e7ea;
    --background-invert-primary: #131c35;
    --background-divider-primary: #d0d2d8;
    --background-light: #ffffff;
    --background-dark: #131c35;
    --background-interactive-primary: #e10a0a;
    --background-interactive-primary-pressed: #e73b3b;
    --background-interactive-secondary: #f9cece;
    --background-interactive-secondary-pressed: #fce6e6;
    --background-interactive-disabled: #d0d2d8;
    --background-accent-primary: #3f5fe0;
    --background-accent-secondary: #ffffff;
    --background-accent-tertiary: #ffffff;
    --background-status-info-primary: #ddf1f5;
    --background-status-warning-primary: #fef5d0;
    --background-status-success-primary: #e9f9ef;
    --background-status-error-primary: #fdecec;
    --icon-primary: #131c35;
    --icon-secondary: #5a6072;
    --icon-tertiary: #898d9a;
    --icon-invert-primary: #f3f4f5;
    --icon-light: #ffffff;
    --icon-dark: #131c35;
    --icon-interactive: #9d0707;
    --icon-interactive-pressed: #ca0909;
    --icon-interactive-disabled: #b8bbc2;
    --icon-on-button-primary: #ffffff;
    --icon-on-button-secondary: #9d0707;
    --icon-accent-primary: #2c439d;
    --icon-accent-secondary: #ffffff;
    --icon-status-info-primary: #2b5c68;
    --icon-status-warning-primary: #7d660b;
    --icon-status-success-primary: #27693f;
    --icon-status-error-primary: #a73030;
    --icon-feedback-error-primary: #bf3636;
    --border-primary: #131c35;
    --border-secondary: #5a6072;
    --border-tertiary: #898d9a;
    --border-invert-primary: #f3f4f5;
    --border-divider-primary: #d0d2d8;
    --border-light: #ffffff;
    --border-dark: #131c35;
    --border-interactive-primary: #9d0707;
    --border-interactive-primary-pressed: #e10a0a;
    --border-interactive-secondary: #f9cece;
    --border-interactive-secondary-pressed: #fce6e6;
    --border-interactive-disabled: #d0d2d8;
    --border-accent-primary: #3f5fe0;
    --border-accent-secondary: #ffffff;
    --border-status-info-primary: #9ad4e2;
    --border-status-warning-primary: #fce073;
    --border-status-success-primary: #a7e8bf;
    --border-status-error-primary: #f9b4b4;
    --border-feedback-error-primary: #bf3636;
}